.compteur{
    font-size: $fontSize4Mobile;
    background-position-y: center;
    &--lessive{
        font-size: $fontSize3Mobile;
        *{
            top: 182px;
        }
        button{
            background-color: transparent;
            border: none;
            width: 30px;
            text-align: center;
        }
        .compteur__remove{
            transform: translateX(-50%) translateX(-25px) translateY(3px);
        }
        .compteur__value{
            transform: translateX(-50%) translateX(12px);
        }
        .compteur__add{
            transform: translateX(-50%) translateX(49px) translateY(3px);
        }
    }
    &--tablettes{
        *{
            background-repeat: no-repeat;
            background-size: contain;
        }
        button, .compteur__value{
            width: 65px;
            height: 65px;
        }
        .compteur__tablettes{
            background-image: url(../images/prototype/autres-elements/4-tablettes.svg);
            width: 160px;
            height: 160px;
            position: absolute;
            transform: translateY(320px) translateX(-50%) translateX(100px);
        }
        .compteur__remove{
            background-image: url(../images/prototype/autres-elements/5-tablette-moins.svg);
            background-position-y: 75%;
            position: absolute;
            transform: translateY(450px) translateX(-50%) translateX(30px);
        }
        .compteur__value{
            transform: translateY(400px) translateX(-50%) translateX(105px);
        }
        .compteur__add{
            background-image: url(../images/prototype/autres-elements/5-tablette-moins.svg);
            background-position-y: 75%;
            position: absolute;
            transform: translateY(445px) translateX(-50%) translateX(150px);
        }
    }
    &--desodorisant{
        .compteur__remove{
            transform: translateY(221px) translateX(-50%) translateX(-130px);
            font-size: $fontSize7Mobile;
        }
        .compteur__value{
            transform: translateY(226px) translateX(-50%) translateX(-90px);
            font-size: $fontSize5Mobile;
        }
        .compteur__add{
            transform: translateY(229px) translateX(-50%) translateX(-50px);
            font-size: $fontSize5Mobile;
        }
    }
    &--lessive, &--tablettes, &--desodorisant{
        *{
            position: absolute;
            left: 50%;
            z-index: 11;
        }
    }
    &--tablettes, &--desodorisant{
        *{
            top: 0;
        }
        button{
            background-color: transparent;
            border: none;
        }
    }
}