.compteur{
    font-size: $fontSize4Mobile;
    background-position-y: center;
    &--lessive{
        font-size: $fontSize3Mobile;
        *{
            top: 154px;
        }
        button{
            background-color: transparent;
            border: none;
            width: 30px;
            text-align: center;
        }
        .compteur__remove{
            transform: translateX(-50%) translateX(-16px) translateY(3px);
        }
        .compteur__value{
            transform: translateX(-50%) translateX(25px);
        }
        .compteur__add{
            transform: translateX(-50%) translateX(62px) translateY(3px);
        }
    }
    &--tablettes{
        *{
            background-repeat: no-repeat;
            background-size: contain;
        }
        button, .compteur__value{
            width: 65px;
            height: 65px;
        }
        .compteur__tablettes{
            background-image: url(../images/prototype/autres-elements/4-tablettes.svg);
            width: 160px;
            height: 160px;
            transform: translateY(300px) translateX(-50%) translateX(100px);
        }
        .compteur__remove{
            background-image: url(../images/prototype/autres-elements/5-tablette-moins.svg);
            transform: translateY(410px) translateX(-50%) translateX(30px);
            background-position-y: 150%;
        }
        .compteur__value{
            background-image: url(../images/prototype/autres-elements/6-tablette-value.svg);
            transform: translateY(420px) translateX(-50%) translateX(95px);
            text-align: center;
            background-position-y: 20%;
        }
        .compteur__add{
            background-image: url(../images/prototype/autres-elements/7-tablette-plus.svg);
            transform: translateY(405px) translateX(-50%) translateX(150px);
            background-position: 65%;
        }
    }
    &--desodorisant{
        .compteur__remove{
            transform: translateY(201px) translateX(-50%) translateX(-130px);
            font-size: $fontSize7Mobile;
        }
        .compteur__value{
            transform: translateY(206px) translateX(-50%) translateX(-90px);
            font-size: $fontSize5Mobile;
        }
        .compteur__add{
            transform: translateY(209px) translateX(-50%) translateX(-50px);
            font-size: $fontSize5Mobile;
        }
    }
    &--lessive, &--tablettes, &--desodorisant{
        *{
            position: absolute;
            left: 50%;
            z-index: 11;
        }
    }
    &--tablettes, &--desodorisant{
        *{
            top: 0;
        }
        button{
            background-color: transparent;
            border: none;
        }
    }
}