.round{
    &--wc{
        transform: translateX(-50%);
        top: 370px;
        .rs-handle {
            background-image: url(../images/prototype/autres-elements/2-wc.svg);
            background-size: contain;
            background-position: center;
            transform: rotate(70deg);
        }
        .rs-bg-color {
            background-image: url(../images/prototype/main-image/3-wc.svg);
            background-size: 200px;
            background-position-x: center;
            background-position-y: 90%;
        }
    }
    &--degraissant{
        transform: translateX(-50%);
        top: 275px;
        .rs-handle {
            background-image: url(../images/prototype/autres-elements/1-eponge.svg);
            background-size: contain;
            transform: rotate(10deg);
        }
        .rs-bg-color {
            background-image: url(../images/prototype/main-image/6-frites.svg);
            background-size: 335px;
            background-position-x: 51%;
            background-position-y: 53%;
        }
    }
    &--liquide{
        transform: translateX(-50%) translateX(-29px);
        top: 288px;
        .rs-handle {
            background-image: url(../images/prototype/autres-elements/1-eponge.svg);
            background-size: 50%;
            transform: rotate(20deg);
            background-position-x: 85%;
        }
        .rs-bg-color {
            background-image: url(../images/prototype/main-image/9-casserole.svg);
            background-size: 280px;
            background-position-x: 35%;
            background-position-y: 70%;
        }
    }
    &--wc, &--degraissant, &--liquide{
        position: absolute;
        z-index: 11;
        left: 50%;
        .rs-handle, .rs-bg-color{
            background-repeat: no-repeat;
            background-color: transparent;
        }
    }
    .rs-bar .rs-seperator{
        display: none;
    }
}