.armoire{
    &__el{
        z-index: 20;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__el, button{
        position: absolute;
    }
    &__lessive button{
        width: 27px;
        top: 188px;
        transform: translateX(-65px);
    }
    &__adoucissant button{
        width: 29px;
        top: 188px;
        transform: translateX(-32px);
    }
    &__vitres button{
        width: 28px;
        top: 192px;
        transform: translateX(7px);
    }
    &__wc button{
        width: 20px;
        top: 189px;
        transform: translateX(42px);
    }
    &__tablettes button{
        width: 35px;
        top: 284px;
        transform: translateX(-66px);
    }
    &__multi button{
        width: 20px;
        top: 273px;
        transform: translateX(-28px);
    }
    &__degraissant button{
        width: 29px;
        top: 273px;
        transform: translateX(5px);
    }
    &__desodorisant button{
        width: 17px;
        top: 272px;
        transform: translateX(45px);
    }
    &__detartrant button{
        width: 23px;
        top: 355px;
        transform: translateX(-65px);
    }
    &__liquide button{
        width: 30px;
        top: 353px;
        transform: translateX(37px);
    }
}

.slider{
    top: 405px;
    transform: translateX(-50%);
    z-index: 25;
    &__button{
        top: 100px;
        z-index: 30;
        background-image: url("../images/4-fleche.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        width: 50px;
        padding: 10px;
        border: none;
        cursor: pointer;
        &--previous{
            transform: translateY(0px) translateX(-50%) translateX(-110px);
        }
        &--next{
            transform: translateY(0px) translateX(-50%) translateX(110px) rotate(180deg);
        }
    }
    &__el{
        top: 0;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        &--show{
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
    }
}
.slider, .slider__button, .slider__el{
    position: absolute;
    left: 50%;
}

.armoire, .slider{
    &__el button{
        height: 150px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
    }
    .no-background{
        pointer-events: none;
        &--lessive{
            background-image: url("../images/prototype/produits-utilises/1-lessive.svg");
        }
        &--adoucissant{
            background-image: url("../images/prototype/produits-utilises/2-adoucissant.svg");
        }
        &--vitres{
            background-image: url("../images/prototype/produits-utilises/3-vitres.svg");
        }
        &--wc{
            background-image: url("../images/prototype/produits-utilises/4-wc.svg");
        }
        &--tablettes{
            background-image: url("../images/prototype/produits-utilises/5-tablettes.svg");
        }
        &--multi{
            background-image: url("../images/prototype/produits-utilises/6-multi.svg");
        }
        &--degraissant{
            background-image: url("../images/prototype/produits-utilises/7-degraissant.svg");
        }
        &--desodorisant{
            background-image: url("../images/prototype/produits-utilises/8-desodorisant.svg");
        }
        &--detartrant{
            background-image: url("../images/prototype/produits-utilises/9-detartrant.svg");
        }
        &--liquide{
            background-image: url("../images/prototype/produits-utilises/10-liquide.svg");
        }
    }
}

.slider__lessive, .armoire__lessive button{
    background-image: url("../images/prototype/produits-labellises/1-lessive.svg");
}
.slider__adoucissant, .armoire__adoucissant button{
    background-image: url("../images/prototype/produits-labellises/2-adoucissant.svg");
}
.slider__vitres, .armoire__vitres button{
    background-image: url("../images/prototype/produits-labellises/3-vitres.svg");
}
.slider__wc, .armoire__wc button{
    background-image: url("../images/prototype/produits-labellises/4-wc.svg");
}
.slider__tablettes, .armoire__tablettes button{
    background-image: url("../images/prototype/produits-labellises/5-tablettes.svg");
}
.slider__multi, .armoire__multi button{
    background-image: url("../images/prototype/produits-labellises/6-multi.svg");
}
.slider__degraissant, .armoire__degraissant button{
    background-image: url("../images/prototype/produits-labellises/7-degraissant.svg");
}
.slider__desodorisant, .armoire__desodorisant button{
    background-image: url("../images/prototype/produits-labellises/8-desodorisant.svg");
}
.slider__detartrant, .armoire__detartrant button{
    background-image: url("../images/prototype/produits-labellises/9-detartrant.svg");
}
.slider__liquide, .armoire__liquide button{
    background-image: url("../images/prototype/produits-labellises/10-liquide.svg");
}

.slider__button, .slider__el button, .armoire__el button{
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}