.armoire{
    &__el{
        z-index: 20;
        top: 347px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__el, button{
        position: absolute;
    }
    &__lessive button{
        width: 24px;
        top: -144px;
        transform: translateX(-65px);
    }
    &__adoucissant button{
        width: 25px;
        top: -144px;
        transform: translateX(-40px);
    }
    &__vitres button{
        width: 29px;
        top: -143px;
        transform: translateX(-15px);
    }
    &__wc button{
        width: 19px;
        top: -145px;
        transform: translateX(15px);
    }
    &__tablettes button{
        width: 31px;
        top: -133px;
        transform: translateX(35px);
    }
    &__multi button{
        width: 20px;
        top: -64px;
        transform: translateX(-65px);
    }
    &__degraissant button{
        width: 28px;
        top: -65px;
        transform: translateX(-41px);
    }
    &__desodorisant button{
        width: 17px;
        top: -63px;
        transform: translateX(-10px);
    }
    &__detartrant button{
        width: 22px;
        top: -65px;
        transform: translateX(12px);
    }
    &__liquide button{
        width: 26px;
        top: -64px;
        transform: translateX(39px);
    }
}

.slider, .slider__button, .slider__el{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider{
    top: 385px;
    transform: translateX(-50%);
    z-index: 25;
    //background-color: red;
    &__button{
        top: 100px;
        z-index: 30;
        background-image: url("../images/4-fleche.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        width: 50px;
        padding: 10px;
        border: none;
        cursor: pointer;
        &--previous{
            transform: translateY(0px) translateX(-50%) translateX(-100px);
        }
        &--next{
            transform: translateY(0px) translateX(-50%) translateX(100px) rotate(180deg);
        }
    }
    &__el{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        &--show{
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
        & *{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.armoire, .slider{
    &__el button{
        height: 150px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
    }
    .no-background{
        pointer-events: none;
        &--lessive{
            background-image: url("../images/prototype/produits-utilises/1-lessive.svg");
        }
        &--adoucissant{
            background-image: url("../images/prototype/produits-utilises/2-adoucissant.svg");
        }
        &--vitres{
            background-image: url("../images/prototype/produits-utilises/3-vitres.svg");
        }
        &--wc{
            background-image: url("../images/prototype/produits-utilises/4-wc.svg");
        }
        &--tablettes{
            background-image: url("../images/prototype/produits-utilises/5-tablettes.svg");
        }
        &--multi{
            background-image: url("../images/prototype/produits-utilises/6-multi.svg");
        }
        &--degraissant{
            background-image: url("../images/prototype/produits-utilises/7-degraissant.svg");
        }
        &--desodorisant{
            background-image: url("../images/prototype/produits-utilises/8-desodorisant.svg");
        }
        &--detartrant{
            background-image: url("../images/prototype/produits-utilises/9-detartrant.svg");
        }
        &--liquide{
            background-image: url("../images/prototype/produits-utilises/10-liquide.svg");
        }
    }
}

.armoire{
    &__el button{
        height: 70px;
    }
}

.slider__lessive{
    background-image: url("../images/prototype/produits-labellises/1-lessive.svg");
}
.slider__adoucissant{
    background-image: url("../images/prototype/produits-labellises/2-adoucissant.svg");
}
.slider__vitres{
    background-image: url("../images/prototype/produits-labellises/3-vitres.svg");
}
.slider__wc{
    background-image: url("../images/prototype/produits-labellises/4-wc.svg");
}
.slider__tablettes{
    background-image: url("../images/prototype/produits-labellises/5-tablettes.svg");
}
.slider__multi{
    background-image: url("../images/prototype/produits-labellises/6-multi.svg");
}
.slider__degraissant{
    background-image: url("../images/prototype/produits-labellises/7-degraissant.svg");
}
.slider__desodorisant{
    background-image: url("../images/prototype/produits-labellises/8-desodorisant.svg");
}
.slider__detartrant{
    background-image: url("../images/prototype/produits-labellises/9-detartrant.svg");
}
.slider__liquide{
    background-image: url("../images/prototype/produits-labellises/10-liquide.svg");
}

.armoire__lessive button{
    background-image: url("../images/prototype/produits-armoire/1-lessive.svg");
}
.armoire__adoucissant button{
    background-image: url("../images/prototype/produits-armoire/2-adoucissant.svg");
}
.armoire__vitres button{
    background-image: url("../images/prototype/produits-armoire/3-vitres.svg");
}
.armoire__wc button{
    background-image: url("../images/prototype/produits-armoire/4-wc.svg");
}
.armoire__tablettes button{
    background-image: url("../images/prototype/produits-armoire/5-tablettes.svg");
}
.armoire__multi button{
    background-image: url("../images/prototype/produits-armoire/6-multi.svg");
}
.armoire__degraissant button{
    background-image: url("../images/prototype/produits-armoire/7-degraissant.svg");
}
.armoire__desodorisant button{
    background-image: url("../images/prototype/produits-armoire/8-desodorisant.svg");
}
.armoire__detartrant button{
    background-image: url("../images/prototype/produits-armoire/9-detartrant.svg");
}
.armoire__liquide button{
    background-image: url("../images/prototype/produits-armoire/10-liquide.svg");
}

.slider__button, .slider__el button, .armoire__el button{
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}