body{
    background-color: $backgroundColor;
}
body, ul li, a{
    color: $fontColor;
}
footer a{
    &:hover:after, &:active:after{
        color: $fontColor;
        background-color: $fontColor;
    }
}
// main a:visited{
//     color: $visitedColor;
//     &:hover{
//         color: $visitedColorHover;
//         &:after{
//             background-color: $visitedColorHover;
//         }
//     }
//     &:active{
//         color: $visitedColorActive;
//         &:after{
//             background-color: $visitedColorActive;
//         }
//     }
// }
.next, .warning__next, .au-prototype, .section-9__button{
    color: $fontColor;
    background-color: $backgroundColor;
    outline: 2px solid $contrasteColor;
    border: none;
    &:hover{
        outline-offset: 3px;
        transition: ease-in 0.1s;
        color: $fontColor;
    }
    &:active{
        outline: 2px solid $contrasteColorActive;
        color: $fontColor;
    }
    &:disabled{
        background-color: $disabled;
    }
}
::-webkit-scrollbar{
    width: 15px;
    &-track {
        background-color: $scrollBackground;
    }
    &-thumb {
        background-color: $scrollBarre;
    }
}
.warning{
    background-color: $backgroundColor;
}

.round--liquide .rs-tooltip-text{
    color: $backgroundColor;
}