body, small, li{
    font-family: $fontBody;
    font-size: $fontSize2Mobile;
    font-weight: normal;
    line-height: 1.5;
}
.huge-title, .big-title, .medium-title, .small-title{
    font-family: $fontTitle;
    font-weight: 700;
}
.huge-title{
    font-size: $fontSize7Mobile;
}
.big-title{
    font-size: $fontSize6Mobile;
}
.medium-title, .section-4__indication, .section-4__range-value{
    font-size: $fontSize4Mobile;
}
.small-title{
    font-size: $fontSize3Mobile;
}