body, small, li, .rs-tooltip-text{
    font-family: $fontBody;
    font-size: $fontSize2Mobile;
    font-weight: normal;
    line-height: 1.5;
}
.huge-title, .big-title, .medium-title, .small-title{
    font-family: $fontTitle;
    font-weight: 700;
}
.huge-title{
    font-size: $fontSize7Mobile;
}
.big-title{
    font-size: $fontSize6Mobile;
}
.medium-title, .section-4__indication, .section-4__range-value, .rs-tooltip-text, .au-prototype{
    font-size: $fontSize4Mobile;
}
.small-title, .section-9__button{
    font-size: $fontSize3Mobile;
}
footer a{
    text-decoration: none;
    position: relative;
    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 1.5px;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
    }
    &:hover {
        &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
}