body{
    overflow-x: hidden;
}

header, footer, .section{
    width: 100vw;
    height: 100vh;
}
footer:before, .section:before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: 1.1px;
    background-color: black;
}