body{
    overflow-x: hidden;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-credits, &-uikit{
        *{
            width: 300px;
            margin: 2px 0;
        }
        .small-title{
            margin: 30px 0 0 0;
        }
        p.credits-list{
            margin: 0 0 50px 0;
        }
    }
}
.header, .footer, .section{
    width: 100vw;
    height: 100vh;
}
.header, .section{
    .description, .medium-title, .logo, &-1 *, &-2 *, &-3 *, &-4 *, &-5 *, &-case *{
        width: 300px;
    }
    .medium-title{
        padding-bottom: 20px;
    }
    .au-prototype{
        margin-top: 60px;
        width: 147px;
        height: 46px;
    }
}

.au-prototype, .section-5__button{
    text-align: center;
}

.case-header, .credits-header, .uikit-header{
    width: 100vw;
    justify-content: center;
    .logo{
        width: 300px;
        padding-top: 95px;
    }
    .medium-title{
        padding-bottom: 10px;
    }
}

.header, .section-1, .section-2, .section-3, .section-4{
    z-index: -2;
    &::after{
        position: absolute;
        content: "";
        //border: 1px solid black;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;
        left: 0;
        opacity: 100%;
        z-index: 0;
    }
    & *{
        z-index: 1;
    }
}

.header{
    &::after{
        background-image: url(../images/landing/2-deco-1.svg);
        width: 130px;
        background-size: 130px;
        top: 100vh;
        transform: translateY(-170px) translateX(-50px);
    }
}

.section{
    &-1, &-2, &-3, &-4, &-5{
        &__title{
            margin-bottom: 15px;
        }
    }
    &-1{
        &::after{
            background-image: url(../images/landing/2-deco-2.svg);
            width: 140px;
            background-size: 95px;
            background-position: center right;
            top: 200vh;
            left: inherit;
            right: 0;
            transform: translateY(-180px);
        }
    }
    &-2{
        &::after{
            background-image: url(../images/landing/2-deco-3.svg);
            width: 100px;
            background-size: 105px;
            top: 300vh;
            transform: translateY(-170px) translateX(-10px);
        }
    }
    &-3{
        &::after{
            background-image: url(../images/landing/2-deco-4.svg);
            width: 110px;
            background-size: 80px;
            background-position: center right;
            top: 400vh;
            left: inherit;
            right: 0;
            transform: translateY(-170px);
        }
    }
    &-4{
        &__list{
            width: 250px;
        }
        &__el{
            width: 250px;
            list-style: disc;
            padding: 10px 0;
        }
        &::after{
            background-image: url(../images/landing/2-deco-5.svg);
            width: 120px;
            background-size: 120px;
            top: 500vh;
            transform: translateY(-170px) translateX(-10px);
        }
    }
    &-5{
        .temoignages-list{
            display: flex;
            display: none;
            &__el{
                border-radius: 15px;
                min-width: 280px;
                height: 300px;
                margin: 0px 50px;
                user-select: none; /* supported by Chrome and Opera */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                display: flex;
                flex-direction: column;
                padding-top: 15px;
                & *{
                    width: 217px;
                    margin: 0 auto;
                    padding: 2px 0px;
                }
            }
            &__rating{
                width: 120px;
                transform: translateX(-50px);
            } 
            &__avis{
                padding-top: 20px;
            }
        }
    }
    &-case{
        margin: 50px 0px;
        .small-title, .medium-title{
            margin: 10px 0;
        }
        img{
            margin: 30px 0;
        }
    }
}

.footer{
    .projet, .prototypes, .small-title{
        width: 200px;
        padding: 0;
        margin: 0;
    }
    .projet, .prototypes{
        padding-bottom: 15px;
        &__li{
            padding: 8px 0px;
        }
    }
    .copyright-annee{
        width: 260px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -598vh;
        &-case, &-credits, &-uikit{
            position: absolute;
            bottom: inherit;
            transform: translateY(45vh);
        }
    }
    .dwm{
        background-image: url(../images/landing/5-dwm.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 45px;
        height: 22.5px;
        background-size: contain;
        display: inline-block;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        transform: translateX(5px) translateY(5px);
    }
}

.main-uikit{
    margin: 50px 0;
}