.warning, .force-mobile{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    &__el{
        max-width: 400px;
        margin: 10px 0;
        width: 90%;
        &1{
            margin-top: 55px;
        }
        &1::before, &4::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }
}

//header
.next{
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.logo--prototype{
    width: 40px;
    right: 15px;
    top: 12px;
    z-index: 10000;
}
.next, .logo--prototype{
    position: absolute;
}
.main-container{
    max-width: 1000px;
    margin: 0 auto;
    .tiny-title{
        margin: 5px 20px 0 20px; 
    }
}
.slider__el h3{
    margin: 0;
    padding: 5px;
}
.big-title{
    margin: 15px 0 0 20px;
}

//main image
.main-image-container, .armoire{
    //background-color: red;
    position: absolute;
    top: 126px;
    left: 0;
    right: 0;
    width: 100vw;
    bottom: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-image{
    width: 250px;
    z-index: 10;
    &--armoire{
        transform: translateY(-30px);
    }
    &--lessive, &--adoucissant, &--vitres, &--desodorisant, &--detartrant, &--liquide{
        transform: translateY(0);
    }
    &--wc{
        width: 220px;
        transform: translateY(10px);
    }
    &--tablettes{
        transform: translateY(-25px);
    }
    &--multi{
        transform: translateY(0px);
    }
    &--degraissant{
        transform: translateY(25px);
    }
    &--desodorisant{
        transform: translateY(0px);
    }
    &--multi, &--degraissant, &--desodorisant{
        width: 320px;
    }
    &--detartrant{
        width: 250px;
        transform: translateY(0px);
    }
    &--liquide{
        width: 300px;
        transform: translateY(0px);
    }
}

//hidden
.hidden{
    display: none;
}
.back{
    z-index: -1;
}

//boutons
.next{
    width: 61px;
    height: 38px;
    z-index: 20;
}
.warning__next{
    width: 102px;
    height: 40px;
}