//prototype
@media (min-width : 0px){
    .warning__el4{
        display: none;
    }
}

@media (min-width : 700px){
    .warning{
        &__el1,&__el2,&__el3,&__next{
            display: none;
        }
        &__el4{
            display: inline-block;
        }
    }
}

//landing page

//mobile first
@media (min-width : 400px){
    .section{
        &-3__title{
            margin-top: 85px;
        }
        &-5__title{
            margin-top: 95px;
        }
    }
}

@media (min-width : 450px){
    .section{
        &-1__title{
            margin-top: 65px;
        }
    }
}

@media (min-width : 500px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9{
            &__title, &__first-title, &__second-title, &__button{
                grid-column: 3/16;
            }
            &__text{
                grid-column: 5/16;
            }
            &__list{
                grid-column: 6/16;
            }
        }
        &-2, &-4, &-6, &-8{
            img{
                width: 350px;
            }
        }
        &-1{
            background-position: 110% 110%;
        }
        &-3{
            background-position: -10% 110%;
        }
        &-5{
            background-position: 110% 130%;
        }
        &-7{
            background-position: 105% 105%;
        }
    }
    .footer{
        .small-title{
            padding-left: 120px;
            padding-top: 60px;
        }
        .liens-pratiques, .prototypes{
            padding-left: 180px;
        }
        .copyright{
            padding-top: 100px;
        }
    }
}

@media (min-width : 550px){
    .grid .section-9{
        grid-template-rows: 140px 80px 170px;
        &__first-title{
            margin-top: 80px;
        }
    }
    .footer{
        .small-title{
            padding-left: 150px;
        }
        .liens-pratiques, .prototypes{
            padding-left: 220px;
        }
    }
}

@media (min-width : 572px){
    .grid .section-7__el{
        &2:before{
            transform: translateX(-65px) translateY(5px);
        }
    }
}

@media (min-width : 612px){
    .grid .section-7__el{
        &3:before, &4:before{
            transform: translateX(-65px) translateY(-10px);
        }
    }
}

@media (min-width : 650px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9{
            &__title, &__first-title, &__second-title, &__button{
                grid-column: 3/15;
            }
            &__text{
                grid-column: 6/16;
            }
        }
    }
    .footer{
        .small-title{
            padding-left: 210px;
        }
        .liens-pratiques, .prototypes{
            padding-left: 290px;
        }
    }
}

//tablette & desktop version
@media (min-width : 700px){
    body, small, li{
        font-size: $fontSize1Desktop;
    }
    .medium-title{
        font-size: $fontSize3Desktop;
    }
    .small-title, .au-prototype, .section-9__button{
        font-size: $fontSize2Desktop;
    }
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9{
            &__title, &__first-title, &__second-title, &__button{
                grid-column: 2/17;
            }
            &__text{
                grid-column: 6/15;
            }
        }
        &-2, &-4, &-6, &-8{
            img{
                width: 400px;
                margin: 60px auto;
            }
        }
        &-1{
            grid-template-rows: 230px;
            background-position: 105% 110%;
            &__title{
                margin-top: 30px;
            }
        }
        &-3{
            grid-template-rows: 170px;
            background-position: -5% 110%;
        }
        &-5{
            grid-template-rows: 190px;
            background-position: 105% 125%;
            &__title{
                margin-top: 50px;
            }
        }
        &-7{
            grid-template-rows: 115px;
        }
        &-9{
            &__button{
                width: 182px;
                height: 48px;
            }
            &__text{
                grid-column: 5/14;
            }
        }
    }
    .header{
        width: 450px;
        .logo{
            width: 350px;
            padding-top: 85px;
            padding-bottom: 5px;
        }
    }
    .footer{
        .copyright{
            padding-top: 80px;
        }
    }
}

@media (min-width : 800px){
    body, small, li{
        font-size: $fontSize2Desktop;
    }
    .header{
        .logo{
            padding-top: 55px;
        }
        .au-prototype{
            bottom: 10%;
        }
    }
    .grid .section{
        &-3{
            grid-template-rows: 120px;
            &__title{
                margin-top: 45px;
            }
        }
        &-7{
            &__title{
                margin-top: 30px;
            }
            &__el{
                &2:before{
                    transform: translateX(-65px) translateY(40px);
                }
                &1:before, &3:before, &4:before{
                    transform: translateX(-65px) translateY(17px);
                }
                padding: 5px 0;
            }
        }
        &-9{
            grid-template-rows: 140px 80px 220px;
        }
    }
    .footer{
        .small-title{
            padding-top: 30px;
        }
        .copyright{
            padding-top: 30px;
        }
    }
}

@media (min-width : 840px){
    .grid .section{
        &-7__el{
            &2:before{
                transform: translateX(-65px) translateY(20px);
            }
        }
    }
}

@media (min-width : 900px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9{
            &__title, &__first-title, &__second-title, &__button{
                grid-column: 3/16;
            }
        }
        &-7{
            &__list{
                grid-column: 6/15;
            }
            &__el{
                &2:before{
                    transform: translateX(-65px) translateY(40px);
                }
            }
        }
    }
}

@media (min-width : 950px){
    .footer{
        .small-title{
            padding-left: 300px;
        }
        .liens-pratiques, .prototypes{
            padding-left: 400px;
        }
    }
}

@media (min-width : 1000px){
    .footer{
        .small-title, .liens-pratiques, .prototypes{
            position: absolute;
            padding: 0;
        }
        .small-title{
            padding-top: 120px;
        }
        .liens-pratiques, .prototypes{
            padding-top: 170px;
        }
        &__title1{
            left: 10%;
        }
        &__title2{
            left: 55%;
        }
        .liens-pratiques{
            left: 20%;
        }
        .prototypes{
            left: 65%;  
        }
        .copyright{
            padding-top: 90vh;
        }
    }
}

@media (min-width : 1050px){
    .grid .section{
        &-1{
            &__title{
                margin-top: 80px;
            }
        }
        &-2, &-4, &-6, &-8{
            img{
                width: 450px;
            }
        }
        &-7{
            &__el{
                &1:before, &2:before{
                    transform: translateX(-65px) translateY(17px);
                }
                &3:before, &4:before{
                    transform: translateX(-65px);
                }
                padding: 10px 0;
            }
        }
    }
}

@media (min-width : 1100px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9{
            &__title, &__first-title, &__second-title, &__button{
                grid-column: 3/15;
            }
        }
    }
}


@media (min-width : 1300px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8{
            &__title{
                grid-column: 3/12;
            }
            &__text{
                grid-column: 8/15;
            }
        }
        &-1{
            &__title{
                margin-top: 50px;
            }
            grid-template-rows: 250px;
        }
        &-3{
            grid-template-rows: 140px;
        }
        &-9{
            &__text{
                grid-column: 6/13;
            }
        }
    }
    .footer{
        &__title1{
            left: 15%;
        }
        .liens-pratiques{
            left: 25%;
        }
    }
}

@media (min-width : 1400px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8{
            &__title{
                grid-column: 3/11;
            }
        }
        &-7{
            &__el{
                &2:before{
                    transform: translateX(-65px) translateY(17px);
                }
                &1:before, &3:before, &4:before{
                    transform: translateX(-65px);
                }
                padding: 15px 0;
            }
        }
    }
}