@media (min-width : 400px){
    .section{
        &-3__title{
            margin-top: 85px;
        }
        &-5__title{
            margin-top: 95px;
        }
    }
}

@media (min-width : 450px){
    .section{
        &-1__title{
            margin-top: 65px;
        }
    }
}

@media (min-width : 500px){
    .grid .section{
        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9{
            &__title, &__first-title, &__second-title, &__button{
                grid-column: 3/16;
            }
            &__text{
                grid-column: 5/16;
            }
            &__list{
                grid-column: 6/16;
            }
        }
        &-2, &-4, &-6, &-8{
            img{
                width: 350px;
            }
        }
        &-1{
            background-position: 110% 110%;
        }
        &-3{
            background-position: -10% 110%;
        }
        &-5{
            background-position: 110% 130%;
        }
        &-7{
            background-position: 105% 105%;
        }
    }
    .footer{
        .small-title{
            padding-left: 120px;
            padding-top: 60px;
        }
        .liens-pratiques, .prototypes{
            padding-left: 180px;
        }
        .copyright{
            padding-top: 100px;
        }
    }
}

@media (min-width : 550px){
    .grid .section-9{
        grid-template-rows: 140px 80px 170px;
        &__first-title{
            margin-top: 80px;
        }
    }
    .footer{
        .small-title{
            padding-left: 150px;
        }
        .liens-pratiques, .prototypes{
            padding-left: 220px;
        }
    }
}