//prototype
@media (min-width : 0px){
    .warning__el4, .force-mobile{
        display: none;
    }
}

@media (min-width : 700px){
    .warning{
        &__el1,&__el2,&__el3,&__next{
            display: none;
        }
        &__el4{
            display: inline-block;
        }
    }
    .force-mobile{
        display: flex;
    }
}

//landing page

//mobile first
@media (min-width : 500px){
    .header, .section{
        .description, .medium-title, .logo, &-1 *, &-2 *, &-3 *, &-4 *, &-5 *, &-case *{
            width: 400px;
        }
    }
    .flex-credits, .flex-uikit{
        *{
            width: 400px;
        }
    }
    .section{
        &-5{
            &__button{
                width: 147px;
                height: 38px;
            }
        }
    }
}

@media (min-width : 600px){
    .footer{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        .prototypes, .projet{
            margin-top: 100px;
        }
        .prototypes{
            width: 120px;
        }
        .copyright-annee{
            &-case, &-credits, &-uikit{
                transform: translateY(90vh);
            }
        }
    }
}

//tablette & desktop version
@media (min-width : 700px){
    body, small, li{
        font-size: $fontSize1Desktop;
    }
    .medium-title{
        font-size: $fontSize3Desktop;
    }
    .small-title, .au-prototype, .section-5__button{
        font-size: $fontSize2Desktop;
    }
    .header, .section{
        .description, .medium-title, .logo, &-1 *, &-2 *, &-3 *, &-4 *, &-5 *, &-case *{
            width: 500px;
        }
    }
    .flex-credits, .flex-uikit{
        *{
            width: 500px;
        }
    }
    .footer{
        .projet, .small-title{
            width: 240px;
        }
        .prototypes{
            width: 150px;
        }
        .copyright-annee{
            width: 270px;
        }
    }
    .header::after{
        height: 210px;
        background-size: 150px;
        transform: translateY(-180px) translateX(-35px);
    }
    .section{
        &-1::after{
            height: 230px;
            background-size: 110px;
            transform: translateY(-200px);
        }
        &-2::after{
            height: 220px;
            background-size: 125px;
        }
        &-3::after{
            height: 290px;
            background-size: 95px;
            transform: translateY(-260px);
        }
        &-4::after{
            height: 240px;
            width: 140px;
            background-size: 140px;
            transform: translateY(-190px) translateX(-10px);

        }
        &-5{
            &__button{
                width: 182px;
                height: 48px;
            }
        }
    }
}

@media (min-width : 800px){
    body, small, li{
        font-size: $fontSize2Desktop;
    }
    .header, .section{
        .medium-title, .logo, &-1 *, &-2 *, &-3 *, &-4 *, &-5 *, &-case *{
            width: 500px;
        }
        .description{
            width: 600px;
        }
        .au-prototype{
            margin-top: 50px;
        }
    }
    .section-5__button{
        width: 182px;
        height: 48px;
    }
    .footer{
        .prototypes{
            width: 180px;
        }
        .copyright-annee{
            width: 380px;
        }
    }
}

@media (min-width : 900px){
    .header::after{
        height: 240px;
        width: 160px;
        background-size: 170px;
        transform: translateY(-210px) translateX(-35px);
    }
    .section{
        &-1::after{
            height: 270px;
            background-size: 130px;
            transform: translateY(-240px);
        }
        &-2::after{
            height: 280px;
            width: 120px;
            background-size: 150px;
            transform: translateY(-235px) translateX(-10px);
        }
        &-3::after{
            height: 320px;
            background-size: 105px;
            transform: translateY(-280px);
        }
        &-4::after{
            height: 310px;
            width: 170px;
            background-size: 185px;
            transform: translateY(-255px) translateX(-10px);

        }
    }
}

@media (min-width : 1000px){
    .section{
        .medium-title, &-1 *, &-2 *, &-3 *, &-4 *, &-5 *, &-case *{
            width: 700px;
        }
        &-5__button{
            width: 182px;
            height: 48px;
        }
        &-case{
            img{
                width: 30vw;
                display: block;
                margin: 30px auto;
            }
        }
    }
    .flex-credits, .flex-uikit{
        *{
            width: 700px;
        }
    }
}


@media (min-width : 1300px){
    .header::after{
        height: 290px;
        width: 190px;
        background-size: 210px;
        transform: translateY(-260px) translateX(-35px);
    }
    .section{
        &-1::after{
            height: 320px;
            background-size: 150px;
            transform: translateY(-270px);
        }
        &-2::after{
            height: 330px;
            width: 150px;
            background-size: 180px;
            transform: translateY(-270px) translateX(-10px);
        }
        &-3::after{
            height: 370px;
            width: 120px;
            background-size: 125px;
            transform: translateY(-330px);
        }
        &-4::after{
            height: 350px;
            width: 190px;
            background-size: 200px;
            transform: translateY(-285px) translateX(-10px);

        }
    }
}