@media (min-width : 0px){
    .warning__el4{
        display: none;
    }
}

@media (min-width : 700px){
    .warning{
        &__el1,&__el2,&__el3,&__next{
            display: none;
        }
        &__el4{
            display: inline-block;
        }
    }
}