.warning{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__el{
        max-width: 400px;
        margin: 10px 0;
        width: 90%;
    }
    // &__next{
    //     style
    // }
}

.main-container{
    max-width: 1000px;
    margin: 0 auto;
}
.big-title{
    margin: 10px 0 0 15px;
}
.small-title{
    margin: 0 0 0 15px;
}

//main image
.main-image{
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    z-index: 10;
    &--multi, &--degraissant, &--desodorisant, &--detartrant, &--liquide{
        width: 320px;
    }
    &--multi, &--degraissant{
        top: 230px;
    }
    &--desodorisant{
        top: 190px;
    }
    &--detartrant, &--liquide{
        top: 230px;
    }
}

//footer
.barre{
    width: 94%;
    height: 1px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}
.next{
    right: 3%;
    bottom: 12px;
}
footer .logo{
    width: 55px;
    left: 3%;
    bottom: 5px;
}
.barre, .next, footer .logo{
    position: absolute;
}

//hidden
.hidden{
    display: none;
}